<%= turbo_frame_tag "profile_content" do %>
  <div class="max-w-6xl mx-auto px-4 py-8">
    <h2 class="text-2xl font-semibold mb-6">Khóa học của tôi</h2>
    <% if @courses.any? %>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <% @courses.each do |course| %>
          <div class="bg-white rounded-2xl shadow-sm border overflow-hidden hover:shadow-md transition">
            <% if course.course_image.attached? %>
                <%= image_tag(course.course_image, class: "w-full h-40 object-cover") %>
            <% else %>
              <div class="w-full h-40 bg-gray-200 flex items-center justify-center text-gray-400">
                No Image
              </div>
            <% end %>
            <!-- Content -->
            <div class="p-4">
              <h3 class="font-semibold text-gray-800 mb-2">
                <%= course.name %>
              </h3>
              <p class="text-sm text-gray-500 mb-4">
                <%= truncate(course.description, length: 80) %>
              </p>
              <% if current_user.owned_courses.exists?(course.id) %>
                <%= link_to "Học ngay",
                    learn_course_path(course),
                    class: "bg-green-600 text-white px-4 py-2 rounded-xl" %>
            <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="text-center text-gray-500">
        Bạn chưa sở hữu khóa học nào.
      </div>
    <% end %>
  </div>
<% end %>